{% extends 'base.html' %}

{% block content %}

    <h1 class="title">Channels</h1>
    <hr/>

    <form action="/" method="post">

        <div class="container my-4">

            <div class="form-group funkyradio">

                <div class="funkyradio-primary">
                    <input type="checkbox" name="checkbox" id="checkbox-email" checked/>
                    <label for="checkbox-email">Use email</label>
                </div>

                <div class="funkyradio-primary">
                    <input type="checkbox" name="checkbox" id="checkbox-facebook" checked/>
                    <label for="checkbox-facebook">Use Facebook</label>
                </div>

                <div class="funkyradio-primary">
                    <input type="checkbox" name="checkbox" id="checkbox-whatsapp" checked/>
                    <label for="checkbox-whatsapp">Use WhatsApp</label>
                </div>

            </div>

            <div class="form-group p-4">

                <div class="form-group w-25">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email" style="width: 350px">
                </div>

                <div class="form-group w-50">
                    <label for="facebook-page">Facebook page:</label>
                    <input type="url" class="form-control" id="facebook-page" style="width: 50%">
                </div>

                <div class="form-group w-25">
                    <label for="whatsapp-number">WhatsApp number:</label>
                    <input type="tel" class="form-control" id="whatsapp-number" style="width: 180px">
                    <small id="emailHelp" class="form-text text-muted">Please include the country code. Example:
                        +34</small>
                </div>

            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

{% endblock %}