{% extends 'base.html' %}
{% block content %}
    <h1 class="title">FAQ</h1>
    <hr/>

    {% for faq in faqs %}

        <div class="customizable-feature form-group">
            <div class="faq-question-textarea">
                <textarea class="form-control" rows="1">{{ faq.question }}</textarea>
            </div>
            <div class="faq-answer-textarea">
                <textarea class="form-control" rows="3">{{ faq.answer }}</textarea>
            </div>

            <div class="customizable-feature-buttons">
                <button type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>

        </div>

    {% endfor %}

    <button type="button" class="btn btn-outline-primary new-customizable-feature-button">New FAQ</button>

{% endblock %}