{% extends 'base.html' %}
{% block content %}
    <script>
        function toggleNewButton() {
            const x = document.getElementById("new-faq");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

    <h1 class="title">FAQ</h1>
    <hr/>

    {% for faq in faqs %}

        <form method="post">{% csrf_token %}
            <div class="customizable-feature form-group">
                <div class="faq-question-textarea">
                    <textarea name="question" class="form-control" rows="1">{{ faq.question }}</textarea>
                </div>
                <div class="faq-answer-textarea">
                    <textarea name="answer" class="form-control" rows="3">{{ faq.answer }}</textarea>
                </div>

                <div class="customizable-feature-buttons">
                    <button type="submit" class="btn btn-primary"
                            formaction="/app/faq/update/{{ faq.id }}">
                        Save
                    </button>
                    <button type="submit" class="btn btn-danger"
                            formaction="/app/faq/delete/{{ faq.id }}">
                        Delete
                    </button>
                </div>

            </div>
        </form>

    {% endfor %}

    <div id="new-faq" style="display: none">
        <form action="/app/faq/create/" method="post">{% csrf_token %}
            <div class="customizable-feature form-group">
                <div class="faq-question-textarea">
                    <textarea name="question" class="form-control" rows="1"></textarea>
                </div>
                <div class="faq-answer-textarea">
                    <textarea name="answer" class="form-control" rows="3"></textarea>
                </div>
                <div class="customizable-feature-buttons">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>

    <button type="button" class="btn btn-outline-primary new-customizable-feature-button" onclick="toggleNewButton()">
        New FAQ
    </button>

{% endblock %}