{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1 class="title">My shop</h1>
    <hr/>
    <form action="/" method="post">
        <div class="form-group funkyradio">
            <div class="funkyradio-primary form-group">
                <input type="checkbox" name="checkbox" id="checkbox-email" checked/>
                <label for="checkbox-email">Enable app</label>
            </div>
        </div>

        <div>
            <img src="{{ shop.get_avatar_path }}" id="shop_avatar">

            <button type="submit" class="btn btn-outline-primary">Change avatar</button>

            <form action="/" method="post">
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </form>


    <form action="/" method="post">

    </form>

{% endblock %}